* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1500px;
  padding: 0px 32px;
  margin: auto;
}

.navbar-top {
  width: 100%;
  background-color: #a5c926;
}

.navbar-top-o {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.nt-left, .nt-right {
  display: flex;
  gap: 20px;
  color: white;
}
.nt-left a, .nt-left li, .nt-right a, .nt-right li {
  color: white;
}

nav {
  width: 100%;
  background-color: #fff;
}
nav .nav-o {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0px;
}
nav .nav-o .nav-l {
  display: flex;
  gap: 37px;
  font-size: 18px;
  align-items: center;
}
nav .nav-o .nav-l li .Toystore {
  font-size: 30px;
  margin-right: 30px;
}
nav .nav-o .nav-r {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
nav .nav-o .nav-r .bi-0-circle-fill {
  color: #a5c926;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  min-height: 300px;
  border-radius: 22px;
}
.modal-content p {
  font-size: 40px;
  border-bottom: 1px solid #888;
  padding: 10px 30px;
}
.modal-content h6 {
  font-size: 18px;
  color: #888;
  text-align: center;
  padding: 20% 0px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-o {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-l {
    margin-top: 10px;
    display: none;
  }
  .nav-r {
    margin-top: 10px;
  }
  .nav-l li, .nav-r li {
    margin: 0;
    margin-bottom: 10px;
  }
}
.banner {
  background-image: url("5baddd4835e113c6299a48f5_li-tzuni-507346-unsplash.jpg");
  width: 100%;
  padding: 100px 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  position: relative;
}
.banner .banner-text {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 70px 50px;
  border-radius: 15px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  transform: scale(0);
  transition: all 2s ease;
}
.banner .banner-text p {
  font-size: 18px;
  color: #a5c926;
  width: 100%;
}
.banner .banner-text h1 {
  font-size: 47px;
  width: 100%;
}
.banner .banner-text button {
  padding: 20px 50px;
  background-color: #a5c926;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}
.banner i {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 30px;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
  color: gray;
}

@media (max-width: 768px) {
  .banner {
    padding: 80px 20px;
  }
  .banner-text h1 {
    font-size: 28px;
  }
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
#section1 {
  width: 100%;
  padding: 100px 0px;
}
#section1 .s1-ortalama {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 30px 30px;
}
#section1 .s1-ortalama .s1left {
  width: 70%;
  min-height: 200px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #ffc12c;
  padding: 20px;
  position: relative;
}
#section1 .s1-ortalama .s1left .img {
  width: 220px;
  position: absolute;
  left: 20px;
  top: -70px;
}
#section1 .s1-ortalama .s1left .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section1 .s1-ortalama .s1left .s1leftinright {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-right: 90px;
}
#section1 .s1-ortalama .s1left .s1leftinright h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
#section1 .s1-ortalama .s1left .s1leftinright button {
  padding: 15px 40px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: #333;
}
#section1 .s1-ortalama .s1right {
  width: 70%;
  min-height: 200px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fb416b;
  padding: 20px;
  position: relative;
}
#section1 .s1-ortalama .s1right .s1rightinleft {
  max-width: 400px;
  padding-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
#section1 .s1-ortalama .s1right .s1rightinleft h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
}
#section1 .s1-ortalama .s1right .s1rightinleft button {
  padding: 15px 40px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: #333;
}
#section1 .s1-ortalama .s1right .img {
  width: 220px;
  position: absolute;
  right: 20px;
  top: -50px;
}
#section1 .s1-ortalama .s1right .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section2 {
  width: 100%;
  padding: 30px 20px;
}
#section2 .s2-o .s2top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section2 .s2-o .s2top h4 {
  font-size: 33px;
  font-weight: 400;
}
#section2 .s2-o .s2top .sec2-toprightdiv {
  border-bottom: 2px solid #ddd;
  display: flex;
  font-size: 18px;
}
#section2 .s2-o .s2top .sec2-toprightdiv:hover {
  cursor: pointer;
  border-bottom: 2px solid #a5c926;
  transition: 0.3s;
}
#section2 .s2-o .sec2-line {
  width: 100%;
  min-height: 2px;
  background-color: #927e7e;
  margin: 32px 0px 0px;
}
#section2 .s2-o .sec2-line .sec2-line-color {
  background-color: #a5c926;
  width: 20%;
  min-height: 2px;
}
#section2 .s2-o .s2boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0;
  gap: 30px;
}
#section2 .s2-o .s2boxes .box {
  padding-bottom: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
#section2 .s2-o .s2boxes .box:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: transform 300ms ease, box-shadow 300ms ease;
}
#section2 .s2-o .s2boxes .box .bimg {
  min-height: 180px;
  max-width: 180px;
}
#section2 .s2-o .s2boxes .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section2 .s2-o .s2boxes .box h3 {
  font-weight: 300;
  padding-top: 20px;
}
#section2 .s2-o .s2boxes .box button {
  background-color: #a5c926;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 786px) {
  #section2 {
    width: 100%;
  }
  #section2 .s2-o {
    width: 100%;
  }
  #section2 .s2-o .s2boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 568px) {
  #section2 {
    width: 100%;
  }
  #section2 .s2-o {
    width: 100%;
  }
  #section2 .s2-o .s2boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
#section3 {
  width: 100%;
  padding: 30px 20px;
}
#section3 .s2-o .s2top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section3 .s2-o .s2top h4 {
  font-size: 33px;
  font-weight: 400;
}
#section3 .s2-o .s2top .sec2-toprightdiv {
  border-bottom: 2px solid #ddd;
  display: flex;
  font-size: 18px;
}
#section3 .s2-o .s2top .sec2-toprightdiv:hover {
  cursor: pointer;
  border-bottom: 2px solid #a5c926;
  transition: 0.3s;
}
#section3 .s2-o .sec2-line {
  width: 100%;
  min-height: 2px;
  background-color: #927e7e;
  margin: 32px 0px 0px;
}
#section3 .s2-o .sec2-line .sec2-line-color {
  background-color: #a5c926;
  width: 20%;
  min-height: 2px;
}
#section3 .s2-o .s3boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0;
  gap: 30px;
}
#section3 .s2-o .s3boxes .box {
  padding-bottom: 30px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
#section3 .s2-o .s3boxes .box:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  transition: transform 300ms ease, box-shadow 300ms ease;
}
#section3 .s2-o .s3boxes .box .bimg {
  min-height: 180px;
  max-width: 180px;
}
#section3 .s2-o .s3boxes .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#section3 .s2-o .s3boxes .box h3 {
  font-weight: 300;
  padding-top: 20px;
}
#section3 .s2-o .s3boxes .box button {
  background-color: #a5c926;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  color: #fff;
  margin-top: 20px;
}

@media screen and (max-width: 786px) {
  #section3 {
    width: 100%;
  }
  #section3 .s2-o {
    width: 100%;
  }
  #section3 .s2-o .s3boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 568px) {
  #section3 {
    width: 100%;
  }
  #section3 .s2-o {
    width: 100%;
  }
  #section3 .s2-o .s3boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
#section4 {
  width: 100%;
  background-image: url("s4back.jpg");
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  position: relative;
  text-align: center;
  color: white;
}
#section4::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#section4 .container {
  z-index: 1;
  position: absolute;
}
#section4 .s4-o {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  text-align: center;
}
#section4 .s4-o h5 {
  font-size: 18px;
  font-weight: 400;
}
#section4 .s4-o h3 {
  font-size: 40px;
  font-weight: 300;
}
#section4 .s4-o p {
  font-size: 18px;
  text-align: center;
  width: 70%;
}
#section4 .s4-o i {
  background-color: #a5c926;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  font-size: 40px;
}

#section5 {
  width: 100%;
  padding: 100px 20px;
}
#section5 .s5-o {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#section5 .s5-o .s5-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#section5 .s5-o .s5-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
#section5 .s5-o .s5-bottom .bleft {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  gap: 50px;
}
#section5 .s5-o .s5-bottom .bright {
  width: 90%;
}
#section5 .s5-o .s5-bottom .bright img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}/*# sourceMappingURL=style.css.map */